<!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{{ path('index') }}">
              ChocoLux
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}} nav-item">
                  <a class="nav-link" href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}} nav-item">
                  <a class="nav-link" href="{{ path('about') }}"> About</a>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'chocolate')  ? 'active': ''}} nav-item">
                  <a class="nav-link" href="{{ path('chocolate') }}">Chocolates</a>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'testimonial')  ? 'active': ''}} nav-item">
                  <a class="nav-link" href="{{ path('testimonial') }}">Testimonial</a>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}} nav-item">
                  <a class="nav-link" href="{{ path('contact') }}">Contact Us</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="{{ path('app_login') }}">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
    <!-- end header section -->
