<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}ChocoLux{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- bootstrap core css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
            <!--slick slider stylesheet -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />


            <!-- fonts style -->
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
            <!-- slick slider -->

            <link rel="stylesheet" href="/css/slick-theme.css" />
            <!-- font awesome style -->
            <link href="/css/font-awesome.min.css" rel="stylesheet" />
            <!-- Custom styles for this template -->
            <link href="/css/style.css" rel="stylesheet" />
            <!-- responsive style -->
            <link href="/css/responsive.css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    {% block classBody %}<body>{% endblock %}
        <div class="main_body_content">

            <div class="hero_area">

                {{ include ('partials/_navigation.html.twig') }}

                {% block body %}{% endblock %}

                <!-- info section -->
                <section class="info_section layout_padding2">
                <div class="container">
                    <div class="row info_form_social_row">
                    <div class="col-md-8 col-lg-9">
                        <div class="info_form">
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button>
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">

                        <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </div>
                    </div>
                    </div>
                    <div class="row info_main_row">
                    <div class="col-md-6 col-lg-3">
                        <div class="info_links">
                        <h4>
                            Menu
                        </h4>
                        <div class="info_links_menu">
                            <a href="{{ path('index') }}">
                            Home
                            </a>
                            <a href="{{ path('about') }}">
                            About
                            </a>
                            <a href="{{ path('chocolate') }}">
                            Chocolates
                            </a>
                            <a href="{{ path('testimonial') }}">
                            Testimonial
                            </a>
                            <a href="{{ path('contact') }}">
                            Contact us
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_insta">
                        <h4>
                            Instagram
                        </h4>
                        <div class="insta_box">
                            <div class="img-box">
                            <img src="{{ asset('images/insta-img.png') }}" alt="">
                            </div>
                            <p>
                            long established fact that a reader
                            </p>
                        </div>
                        <div class="insta_box">
                            <div class="img-box">
                            <img src="{{ asset('images/insta-img.png') }}" alt="">
                            </div>
                            <p>
                            long established fact that a reader
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_detail">
                        <h4>
                            Company
                        </h4>
                        <p class="mb-0">
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h4>
                        Contact Us
                        </h4>
                        <div class="info_contact">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                            Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                            Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope"></i>
                            <span>
                            demo@gmail.com
                            </span>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </section>

                <!-- end info_section -->

            </div>

            <!-- footer section -->
            <footer class="container-fluid footer_section">
                <div class="container">
                <div class="col-md-11 col-lg-8 mx-auto">
                    <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a>
                    </p>
                </div>
                </div>
            </footer>
            <!-- footer section -->
            </div>
        </div>

        <!-- jQery -->
        <script  src="js/jquery-3.4.1.min.js"></script>
        <!-- bootstrap js -->
        <script  src="js/bootstrap.js"></script>
        <!-- slick slider -->
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
        <!-- custom js -->
        <script  src="js/custom.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->

    </body>
</html>
